<div class="bg" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
  <div nz-col [nzSpan]="12" class="card">
    <div class="title" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <h2>重置密码</h2>
    </div>
    <nz-divider></nz-divider>
    <form nz-row nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">电子邮箱</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="email" id="email">
          <nz-form-explain *ngIf="form.get('email').dirty && form.get('email').errors">电子邮件的格式不正确!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <p class="msg">我们将发送一封重置密码邮件到该邮箱，点击相应链接可以重置账户密码。请确保该邮箱是注册时所填邮箱并且输入正确。</p>
      </nz-form-item>
      <!--<nz-divider></nz-divider>-->
      <nz-form-item nz-row style="margin-bottom:24px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" type="submit" [disabled]="!form.valid||!form.dirty" [nzLoading]="isLoading" >重置密码</button>
          <button nz-button nzType="default" class="btn" (click)="onGoBack()">返 回</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
